@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@400;600&display=swap');

.page {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.container {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    border-top: 1px solid #C21414;
    border-bottom: 1px solid #C21414;
    align-self: center;
    width: 100%;
}

.title h2 {
    font: 600 2em Rosario, sans-serif;
    color: #E36631;
    margin: 2rem 0;
}

.sort {
    display: flex;
    align-items: center;
    font: 400 1.5em Rosario, sans-serif;
    color: #E36631;
    margin: 1rem 0;
}


.sort button {
    font: 400 1rem Rosario, sans-serif;
    padding: 8px;
    width: 6rem;
    color: #E36631;
    background-color: transparent;
    border: 1px solid #E36631 ;
    border-radius: 20px;
    margin: 0 1rem;
    box-sizing: border-box;
}

.sort button:hover {
    cursor: pointer;
    font: 600 1rem Rosario, sans-serif;
    border: 2px solid #E36631;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: space-between;
    row-gap: 30px;
}