@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@400;600&display=swap');

.container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: space-between;
    row-gap: 30px;
}