@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,400;1,700&display=swap');

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin: 20px 0;
}

.form input {
    text-align: center;
    height: 30px;
    width: 200px;
    margin: 0 7px;
    border: 1px solid black;
    border-radius: 8px;
}

.form button {
    text-align: center;
    color: #FFF5E0;
    border-radius: 8px;
    background-color: #E36631;
    border: none;
    width:130px;
    height: 35px;
}

.form button:hover {
    cursor: pointer;
}

.text {
    color: #E36631;
    font: 400 25px Rosario, sans-serif;
    margin: 0;
}

.text span {
    color: #C21414;
    font: 700 italic Rosario, sans-serif;
}