@import url("https://fonts.googleapis.com/css2?family=Rosario&family=Vibur&display=swap");

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  margin: 0 3rem;
  height: 5em;
}

.links-group {
  display: flex;
  justify-content: space-between;
  width: 370px;
}

.links-group a {
  font: 400 20px Rosario, sans-serif;
  color: #C21414;
  margin: 0;
  text-decoration: none;
}

.links-group a.selected,
.links-group a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.logo {
  font: 400 50px Vibur, cursive;
  margin: 0;
  color: #C21414;
  text-decoration: none;
}

.logo span {
  color: #E36631;
}